<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<mat-toolbar class="navbar-expand-lg">
  <a class="navbar-brand"><img src="assets/images/cric11.png" /></a>

  <a class="navbar-brand"><h1>CricFancode</h1></a>

</mat-toolbar>
<mat-toolbar class="navbar">
  <div class="list">
    <ul>
      <li>
        <i class="fa fa-facebook"></i>
      </li>
      <li>
        <i class="fa fa-telegram"></i>
      </li>
      <li>
        <i class="fa fa-instagram"></i>
      </li>
    </ul>

  </div>
  <span class="start">FANTASY TEAM | Published by cricfancode</span>
</mat-toolbar>


