<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">cricfancode.com <i>Established in 2017 </i> is the ultimate platform for fantasy games , we have developed a distinctive understanding of the cricket ,therefore we deliver most succesful  fantasy team which you can trust more. Our knowledge are extremelyhelpful,we promise u won't face any problems ! For newbies can easily beat champs if they have knowledge</p>
      </div>



      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a>Follow Us</a></li>
          <li><a>About Us</a></li>
          <li><a>Advertise with us</a></li>
          <li><a>Sitemap</a></li>
        </ul>
        <router-outlet></router-outlet>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; All Rights Reserved

        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href=""><i class="fa fa-facebook"></i></a></li>
          <li><a class="instagram" href=""><i class="fa fa-instagram"></i></a></li>
          <li><a class="telegram" href=""><i class="fa fa-telegram"></i></a></li>

        </ul>
      </div>
    </div>
  </div>
</footer>

