<html>
<app-header></app-header>



<div class="form">

  <div class=view *ngFor="let data of datacome3">



    <h1 class="title">{{data.title.title}}</h1>
    <img class="imge" src="{{data.title.image1}}" />
    <mat-divider></mat-divider>
    <p class="desc">{{data.title.textarea}}</p>

    <h3 class="weathers"><span class="deco">Weather:</span>{{data.title.weather}}</h3>
    <mat-divider></mat-divider>
    <h3 class="weather"><span class="deco">Pitch: </span> {{data.title.pitch}}</h3>
    <mat-divider></mat-divider>
    <h4 class="weathers"><span class="deco">Match Probable XI 1 </span>{{data.title.playerplaying1}}</h4>
    <mat-divider></mat-divider>
    <h4 class="weathers"><span class="deco">Match Probable XI 2 </span>{{data.title.playerplaying2}}</h4>
    <mat-divider></mat-divider>
    <h4 class="weather"><span class="deco">Top Pick: </span>{{data.title.toppick}}</h4>
    <mat-divider></mat-divider>
    <h5 class="weather"><span class="deco">Captain and Vice Captain:</span>{{data.title.captainandvice}}</h5>
    <mat-divider></mat-divider>
    <h4 class="weather"><span class="deco">Team 1: </span>{{data.title.team1}}</h4>
    <mat-divider></mat-divider>
    <h4 class="weather"><span class="deco">Team 2: </span>{{data.title.team2}}</h4>
    <mat-divider></mat-divider>
    <h3 class="weathers"><span class="deco">Final Advice:</span> {{data.title.finaladvice}}</h3>
    <img class="imge" src="{{data.title.image2}}" />
    <img class="imge" src="{{data.title.image3}}" />

    <app-footer></app-footer>

  </div>
</div>

</html>
