img{
  height:auto;
  width:100%;
  max-width: 100%;
  
  
    
   
  
}


.title {
  font-family: 'Open Sans', sans-serif;
  margin-right: 0.7em;
  font-weight: bold;
  font-size: 30px;
}
.view{
    margin-top: 5em;
}
.desc {
  font-weight: 1;
  margin-top: 1em;
  font-size: 27px;
  margin-right: 0.7em;
}
.weather {
  margin-top: 1em;
  font-size: 28px;
  margin-right: 0.7em;
}

.weathers {
  margin-top: 1em;
  font-size: 28px;
  margin-right: 0.7em;
  font-weight: 100;
}
.section {
  box-sizing: border-box;
  background-color: #181818;
  height: 400px;
  width:auto;
  max-width:100%;

}
.section .footerimg{
   height:50px;
   width:50px;
   margin-top:2em;
   margin-left:2em;
}
  .section li {
    list-style: none;
    color: white;

    
    font-size: 19px;
    padding: 4px;
    margin-left: 3em;
  }
mat-divider {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
}

.section h5 {
  color: white;
  margin-left: 50em;
}





.section .circle {
  margin-left: 85em;
  margin-top: -16em;
  width: 120px;
  height: 120px;
  background: #BB0000;
  border-radius: 50%
}

.section .circle2 {
  margin-left: 1em;
  margin-top: 10em;
  width: 60px;
  height: 60px;
  background: #BB0000;
  border-radius: 50%
}








@media(max-width:500px) {
  img {
    background-size:contain;
  width:auto;
   
  }
  .title {
    margin-right: 0.7em;
    font-weight: bold;
    font-size: 27px;
  }

  

  .desc {
    margin-top: 1em;
    font-size: 24px;
    margin-right: 0.7em;
    font-weight: 100;
  }

  .weather {
    margin-top: 1em;
    font-size: 24px;
    
    margin-right: 0.7em;
  }

  .weathers {
    margin-top: 1em;
    font-size: 24px;
    margin-right: 0.7em;
    font-weight: 100;
  }
  .section{
      width:auto;
      max-width:100%;
  }
  
  mat-divider {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  
  .section .footerimg {
    height: 50px;
    width: 50px;
    margin-top: 2em;
    margin-left: 2em;
  }

  .section li {
    list-style: none;
    color: white;
    font-size: 19px;
    padding: 4px;
    margin-left: 3em;
  }

  

  .section h5 {
    color: white;
    margin-left: 7em;
  }


  .section .circle {
    margin-left: 17em;
    margin-top: -16em;
    width: 120px;
    height: 120px;
    background: #BB0000;
    border-radius: 50%
  }

  .section .circle2 {
    margin-left: 1em;
    margin-top: 10em;
    width: 60px;
    height: 60px;
    background: #BB0000;
    border-radius: 50%
  }

  html{
      overflow-x:hidden;
  }
}
